.body_bg {
  background-color: #f5f5f7;
  border-radius: var(--border_radius_large);
  padding: 32px 24px;
}

.campaign_subheading {
  @extend %font_20;
  font-weight: bold;
  color: var(--ns-cm-base-font-color);
  margin-bottom: 0px;
}

.campaign_subheading18 {
  font-size: var(--font_size18);
  font-weight: bold;
  color: var(--ns-cm-base-font-color);
  margin: 0px;
}

.hint_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .hint_text {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: #6e6e6e;
    line-height: 22px;
  }
  .count_words {
    color: #eba900;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    line-height: 22px;
  }
}

.time_field {
  width: 100%;
  .MuiInputBase-input {
    padding: 8.5px 14px;
  }
  .MuiInputAdornment-root.MuiInputAdornment-positionEnd {
    background-color: #fff;
    border-left: none;
    padding: 0 12px;
  }
}
