.MuiMenu-paper {
  margin-top: 5px;
  border-radius: 8px !important;
  border: 1px solid #d6d6d6;
  background: #fff;
  box-shadow: 0px 7px 12px 2px rgba(0, 0, 0, 0.1) !important;
  ul {
    li {
      @extend %paragraph_p_14px;
      color: #191919;
    }
  }
}

.MuiAutocomplete-paper {
  margin-top: 5px;
  border-radius: 8px !important;
  border: 1px solid #d6d6d6;
  background: #fff;
  box-shadow: 0px 7px 12px 2px rgba(0, 0, 0, 0.1) !important;
  ul {
    li {
      @extend %paragraph_p_14px;
      color: #191919;
    }
  }
}
