@import "variables";
@import "media-queries";

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  font-family: var(--ns-cm-font-family);
  background: #f5f5f7;

  @media (max-width: 899px) {
    overflow: auto !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    height: 100% !important;
  }
}

#root {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  font-family: var(--ns-cm-font-family);
}

//Base Background UI
.main_wrapper_app {
  padding: 24px 32px;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  @media #{$mq-tablet-md} {
    height: calc(100% - 60px);
    max-height: calc(100% - 60px);
    min-height: calc(100% - 60px);
    overflow: hidden;
  }

  @media (max-width: 575px) {
    padding: 24px 15px;
  }

  .inner_wrapper_app {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
}

.Inner_wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;

  @media (max-width: 1199px) {
    gap: 16px;
  }

  @media (max-width: 899px) {
    flex-direction: column;
  }

  height: 100%;
}

.left_section {
  @import "stepper";
  display: flex;
  max-width: 320px;
  flex: 0 0 320px;
  // height: calc(100% - 220px);
  height: calc(100% - 180px);
  padding: 32px;
  flex-direction: column;
  // align-items: flex-start;
  // align-items: end;
  background: #fff;
  border-radius: var(--border_radius_large);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 15px 0px #0000000a;
  transition: all 0.25s ease;
  justify-content: space-between;

  // @media (max-width: 1599px) {
  //   max-width: 280px;
  //   flex: 0 0 280px;
  // }

  @media #{$mq-laptop} {
    max-width: 280px;
    flex: 0 0 280px;
  }

  @media #{$mq-tablet-lg} {
    max-width: 220px;
    flex: 0 0 220px;
    padding: 16px;
    height: calc(100% - 148px);
  }

  // @media (max-width: 1199px) {
  //   max-width: 260px;
  //   flex: 0 0 260px;
  // }

  @media (max-width: 899px) {
    max-width: 100%;
    flex: 0 0 auto;
    height: auto;
    padding: 12px;
    margin-top: 15px;
  }

  @media (max-width: 575px) {
    padding: 12px 6px;
  }

  &.collapsed {
    width: 36px;
    max-width: 36px;
    flex: 0 0 36px;

    @media (max-width: 899px) {
      width: auto;
      max-width: unset;
      flex: 0 0 auto;
    }
  }
}

.right_section {
  max-width: 100%;
  flex: 0 0 100%;
  height: calc(100% - 116px);
  background: #fff;
  border-radius: var(--border_radius_large);
  overflow-y: auto;
  box-shadow: 0px 0px 15px 0px #0000000a;

  @media (max-width: 899px) {
    width: 400px;
  }

  @media (max-width: 575px) {
    width: 300px;
  }
}

.workspace {
  flex: 0 0 100%;
  max-width: 100%;
  transition: 0.25s ease;
  overflow-y: auto;
  height: calc(100% - 220px);
  max-height: calc(100% - 220px);
  min-height: calc(100% - 220px);

  @media (max-width: 899px) {
    padding-right: 0;
  }
}

.workspace-outer {
  max-width: 100%;
  overflow: hidden;
  flex: 1;
  .workspace {
    flex: 0 0 100%;
    max-width: 100%;
    transition: 0.25s ease;
    overflow-y: auto;
    height: calc(100% - 116px);
    max-height: calc(100% - 116px);
    min-height: calc(100% - 116px);

    @media #{$mq-tablet-md} {
      height: calc(100% - 50px);
      min-height: calc(100% - 50px);
      max-height: calc(100% - 50px);
    }

    @media (max-width: 899px) {
      padding-right: 0;
    }

    @media #{$mq-mobile-sm} {
      height: calc(100% - 110px);
      min-height: calc(100% - 110px);
      max-height: calc(100% - 110px);
    }
  }

  &.rightside_show {
    flex: 1;

    .workspace {
      flex: 0 0 calc(100% - 536px);
      max-width: calc(100% - 536px);

      @media (max-width: 1599px) {
        flex: 0 0 calc(100% - 436px);
        max-width: calc(100% - 436px);
      }

      @media (max-width: 1199px) {
        flex: 0 0 calc(100% - 320px);
        max-width: calc(100% - 320px);
      }
    }

    .right_section {
      max-width: 500px;
      flex: 0 0 500px;

      @media (max-width: 1599px) {
        max-width: 400px;
        flex: 0 0 400px;
      }

      @media (max-width: 1199px) {
        max-width: 300px;
        flex: 0 0 300px;
      }
    }
  }
}
